/* 

TIPS:   

1. ORDER: BLOCK, ELEMENT, MODIFIERS ... SEPERATE SETTINGS TO SEPERATE CLASSES ... BLCOK & ELEMENT JUST FOR SIZE AND RULES

2. ROOT -> UNIVERSAL DESIGN -> PER DESIGN SHIFT + ALT + A

3. SORT {} BY ALPHABET >P SORT 

4. EX: header | header__nav | header__nav--transform | for complex ones

*/

/**/
/* Google fonts */
/**/

@import url("https://fonts.googleapis.com/css2?family=Ultra&display=swap");

/**/
/* View Transition */
/**/

@view-transition {
  navigation: auto;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.5s;
}

* {
  box-sizing: border-box;
}

img {
  display: block;
  object-fit: cover;
}

section {
  scroll-margin-top: 1rem;
}

/* || VARIABLES */
:root {
  --BG-COLOR: #3d5a80;
  --SP-COLOR01: #f5f5f5;
  --SHADOWS: 0 6px 5px -5px var(--SP-COLOR01);
}

/**/
/* Background, Title (h1), subtitle (h2 & h3) */
/* Font color, Size, Style, width */
/**/

html {
  background-color: var(--BG-COLOR);
  color: #e0fbfc;
  font-size: 1rem;
  line-height: 1.618;
  font-family: Verdana, Tahoma, sans-serif;
  /*   font-family: "Roboto", sans-serif; */
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100vh;
}

h1 {
  color: #ee6c4d;
  font-size: 2.618rem;
}

@media (max-width: 768px) {
  h1 {
    font-size: clamp(2rem, 1.8rem + 1vw, 2.618rem);
  }
}

h2,
h3 {
  color: #f7e0d4;
  font-size: 1.618rem;
  font-weight: 900;
}

p {
  width: auto;
}

button,
textarea,
input,
select,
fieldset,
mark {
  font: inherit;
  line-height: inherit;
  color: inherit;
}

/**/
/* Elements */
/**/

fieldset {
  width: 100vw;
  border: none;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  color: #f7e0d4;
  font-weight: 800;

  display: none;
}

fieldset ul {
  margin: 0;
  padding: 0;
}

fieldset li {
  margin: 0;
  padding: 0rem;
  border-top: 2px solid #f7e0d4;
}

fieldset legend {
  display: none;
  float: left;
  margin: 0;
  padding: 0;
}

.listnone {
  list-style: none;
  margin-top: 1.5rem;
  padding: 0rem;
}

fieldset .listnone {
  text-align: left;
  margin: 0;
}

/* .vmenu li a:focus,
.vmenu li a:hover {
  display: block;
  background: #293241;
} */

.vmenu li :is(a:focus, a:hover) {
  display: block;
  background: #293241;
}

/* img {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding: 0;
  display: block;
  width: calc(100% + 3rem);
} */

mark {
  background-color: #ee6c4d;
  opacity: 0.9;
}

hr {
  border: 1px solid #f5f5f5;
}

/* Lists */

ol {
  list-style-type: decimal-leading-zero;
}

ul {
  list-style: square;
}

ul ::marker {
  color: #ee6c4d;
  /* content: "Test"; */
}

.listcustom1 li:nth-child(1)::marker,
.listcustom1 li:nth-child(3)::marker {
  list-style: square;
  content: "☕︎ ";
}

.listcustom1 li:nth-child(2)::marker {
  list-style: square;
  content: "☎︎ ";
}

/* Table */

table,
tr,
th,
td,
caption {
  border: 1px solid #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding: 2rex;
  width: auto;
  height: auto;
}

/**/
/* Anchor Link*/
/* order list = a -> a:visited -> a:hover a:focus -> a:active */
/* "HSL" coloring option or "opacity" is great for 'a:hover' */
/**/

a,
abbr {
  color: #e0fbfc;
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus {
  color: #f5f5f5;
}

/**/
/* Class */
/**/

/* HEADING TITLE & NAVIGATION */

.ch0 {
  align-items: center;
  background-color: #293241;
  border-bottom: 2px solid #f5f5f5;
  box-shadow: var(--SHADOWS);
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  margin: 0;
  padding: 0 0.5rem;
}

nav :is(a:hover, a:focus) {
  display: inline-block;
  transform: scale(1.1);
  transition: all 0.3s;
}

.ch0 h1 {
  margin: 0;
  padding: 0;
}

.ch0 nav {
  display: none;
  animation: showmenu 0.5s ease-in-out forwards;
  transform-origin: top center;
}

:is(header:hover, header:focus-within) .menu-icon {
  background-color: transparent;
  transform: rotate(720deg);
}

:is(header:hover, header:focus-within) .menu-icon::before {
  background-color: transparent;
  transform: translatex(-20px) rotate(-45deg);
}

:is(header:hover, header:focus-within) .menu-icon::after {
  background-color: transparent;
  transform: translatex(-20px) rotate(45deg);
}

:is(header:hover, header:focus-within) nav {
  display: block;
}

.nav-wrap {
  display: none;
}

/**/
/* Header & Nav Hamburger */
/**/

.ch0-01 {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.menu-button {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border: none;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.menu-icon,
.menu-icon::before,
.menu-icon::after {
  background-color: var(--SP-COLOR01);
  width: 40px;
  height: 5px;
  border-radius: 5px;
  position: absolute;
  transition: all 0.5s ease-in-out;
}

.menu-icon::before,
.menu-icon::after {
  content: "";
  position: absolute;
}

.menu-icon::before {
  transform: translate(-20px, -12px);
}

.menu-icon::after {
  transform: translate(-20px, 12px);
}

@keyframes showmenu {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/**/
/* desktop vs mobile view differentiator */
/**/

@media (min-width: 768px) {
  .ch0 {
    justify-content: space-between;
    padding: 0rem 0.5rem;
  }

  .ch0 h1 {
    display: inline;
  }

  .ch0 nav {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    animation: none;
  }

  .ch0-01 {
    width: auto;
  }

  .hmenu {
    margin: 0;
  }

  .hmenu li {
    display: inline;
    margin: 0;
    font-size: 1rem;
  }

  .vmenu,
  .menu-button {
    display: none;
  }
}

/* BODY */

.ch1 {
  background-color: #293241;
  border-top: 2px solid #f5f5f5;
  margin: 0;
  padding: 10% 25% 1% 1%;
  background-image: url("Display/IMG-01--LAKESIDE-CABIN.webp");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  min-height: 80vh;
}

.ch2 {
  background-color: #293241;
  border-top: 2px solid #f5f5f5;
  border-bottom: 2px solid #f5f5f5;
  margin: 0;
  padding: 1.5rem;
}

.places-img img {
  width: 100%;
  height: auto;
}

.ch3 {
  text-align: justify;
  columns: 2 250px;
  column-rule: 2px solid #e0fbfc;
  column-gap: 4rem;
}

.ch3 p {
  margin-top: 0;
}

.ch3 h4 {
  background-color: #3d5a80;
  color: #f7e0d4;
  font-size: 1.618rem;
  margin: 0 0 1rem 0;
  padding: 1rem;
  break-inside: avoid;
  display: none;
}

.quote-hero {
  background-color: #f5f5f5;
  background-image: url(Display/IMG-03--RAVINE.webp);
  background-size: 100%;
  background-position: bottom center;
  box-shadow: 0 4px 10px #000000;
  padding: 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 20px;
  filter: brightness(0.7) contrast(1);
}

.quote-hero p {
  margin-bottom: 0rem;
}

.quote {
  font-family: "Ultra", serif;
  font-size: 2.6179rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 2rem;

  color: #00000000;
  font-weight: 100;
  letter-spacing: 0.1em;
  filter: drop-shadow(0px 4px 10px #000000);
  -webkit-text-stroke: 1px #f5f5f5be;

  background-image: url(Display/IMG-03--RAVINE.webp);
  background-size: 100%;
  background-position: bottom center;
  -webkit-background-clip: text;
  background-clip: text;
  filter: brightness(1.2) contrast(1);
  text-shadow: var(--SHADOWS);
}

.quote-hero {
  column-span: all;
  margin-top: 1.5rem;
}

.quote-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-columns: minmax(300px, auto);
  grid-auto-rows: minmax(300px, auto);
  justify-items: center;
  gap: 1rem;
  padding: 0rem;
  margin: 1.5rem 0;
  column-span: all;
}

.quote-image:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.quote-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 4px 10px #000000;
  margin: 0;
  padding: 0;
}

.quote-image img:nth-child(1) {
  object-position: left;
}

@media (max-width: 768px) {
  .quote-container {
    display: block;
    margin-top: 0.5rem;
  }

  .quote-image img {
    width: 100%;
    max-width: 90vw;
    margin: 0 0 1rem 0;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 10px #000000;
  }

  .quote-image img:nth-child(1) {
    object-position: left;
    max-width: 80vw;
  }

  .quote {
    font-size: 1.618rem;
  }
}

/**/
/* Page 2 About */
/**/

#page-two {
  display: flex;
  flex-direction: column;
}

#page-two header {
  top: 0;
}

#page-two main {
  flex-grow: 1;
}

#page-two footer {
  bottom: 0;
}

.about-container {
  background-image: url("Display/IMG-04--COFFEE-BOOK.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 40vh;
}

.About-P {
  border-bottom: 2px solid #f5f5f5;
  margin: 0;
  padding: 10% 40% 10% 10%;
  color: #f5f5f5;
  background-color: #0000008e;
  text-align: justify;
  align-content: center;
  text-indent: 2em;
  font-family: inherit;
  text-shadow: 2px 2px 5px #000000;
  min-height: 40vh;
}

.about-links {
  background-color: #293241;
  background-image:
    url("Display/IMG-09--BACKGROUND-BUBBLE.png"),
    linear-gradient(to right, #98c1d9, #e0fbfc);
  border-bottom: 2px solid #f5f5f5;
}

.about-links ul {
  background-color: #00000056;
  margin: 0;
  padding: 1.5rem;
  text-shadow: 2px 2px 5px #000000;
}

/* Specific Element */

.bold {
  font-weight: 700;
}

.nowrap {
  white-space: nowrap;
}

.border {
  border: 1px solid #f5f5f5;
  padding: 0.5em;
  background-color: #3d5a80;
}

.cap {
  text-transform: uppercase;
  text-decoration: underline overline 2px;
}

.cream {
  color: #f7e0d4;
}

.title {
  color: #ee6c4d;
  text-transform: uppercase;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.clear {
  clear: both;
}

/* Objects & Animation: Shape, Textbox */

.object0 {
  background-color: #2932419b;
  display: inline-block;
  padding: 1rem;
}

.sides {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: space-evenly;

  margin: 0;

  width: 100%;
  height: auto;
  min-height: 300px;
}

.object1:hover {
  background-color: #20ba5a;
  /*  transition-property: background-color, transform;
  transition-duration: 1s, 2s;
  transition-delay: 0s; */
  transition: all 1s ease-in-out 0.5s;
}

.object1:nth-child(3):hover {
  transform: rotate(360deg) scale(110%, 110%);
  /* transform: translatex(45%); */
  /* transform: skew(-10deg); */
}

/* ANIMATION */

.ani-container img {
  width: 30vw;
  height: auto;
  object-fit: cover;
}

.ani-container img:hover {
  animation: roll 5s normal;
}

.animate {
  /*   animation-name: roll;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-delay: 1s;
  animation-iteration-count: 5;
  animation-direction: alternate; */
  animation: 5s ease-in-out 1s 2 normal forwards roll;
}

@keyframes roll {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateX(25vw) rotate(180deg);
  }
  66% {
    transform: translateX(-25vw) rotate(-180deg);
  }
  100% {
    transform: translateX(0) scale(110%);
  }
}

.object1 {
  /*   flex: 1;
 */
  margin: 1.5rem;
  background-color: #f7e0d4;
  /*   min-width: 250px;
  max-width: 600px;
  min-height: 250px;
  max-height: 600px; */
  width: 40vw;
  height: 25vw;
  border: 3px solid #ee6c4d;
  border-radius: 10%;
  outline: 5px solid #3d5a80;
  outline-offset: -0.55rem;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #ee6c4d;
  font-size: 1.618rem;
}

.object2 {
  /*   flex: 1; */
  margin: 1.5rem;
  background-image: url("Display/IMG-10--CSS-MEDIA-QUERY--801x500.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  /*   min-width: 250px;
  max-width: 600px;
  min-height: 250px;
  max-height: 600px; */
  width: 40vw;
  height: 25vw;
  border: 3px solid #ee6c4d;
  border-radius: 10%;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #f5f5f5;
  font-size: 1.618rem;

  /*   position: absolute;
  left: -1000000px;
  display: none; */
}

@media (max-width: 768px) {
  .object1,
  .object2 {
    width: 80vw;
    height: 60vw;

    min-height: 200px;
    max-height: 500px;
  }
}

.object3 {
  width: 30vw;
  height: 30vw;
  background-image: url("Display/IMG-05--DOG-PARK.webp ");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-right: 1rem;
  border-radius: 50%;
  border: 3px solid #000000;
  box-shadow: 0px 4px 10px #000000;
}

.object3p {
  background-color: #3d5a80;
  border: 2px solid #f5f5f5;
  display: flow-root;
  padding: 1rem;
  text-align: justify;
}

.object3p p,
.object4p p {
  margin-top: 0;
}

.object4 {
  width: 30vw;
  height: 30vw;
  background-image: url("Display/IMG-06--DOG-SLEEP.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  margin-left: 1rem;
  border-radius: 50%;
  border: 3px solid #000000;
  box-shadow: 0px 4px 10px #000000;
}

.object4p {
  background-color: #ee6c4d;
  border: 2px solid #f5f5f5;
  display: flow-root;
  padding: 1rem;
  text-align: justify;
}

/**/
/* WA */
/**/

.wa {
  position: fixed;
  z-index: 20;
  bottom: 15px;
  right: 15px;
}

.wa a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: #25d366;
  border-radius: 50%;
  box-shadow: 0 4px 10px #000000;
}

.wa a:hover {
  transform: scale(1.2);
  background-color: #20ba5a;
}

/**/
/* GALLERY */
/**/

.gallery {
  background-color: #293241;
  margin: 0rem;
  padding: 0rem 1.5rem 3rem 1.5rem;
  border-bottom: 3px solid #f5f5f5;
}

.gallery h2 {
  color: #ee6c4d;
  font-weight: 800;
  margin: 0;
  padding: 1.5rem 0;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(300px, auto);
  gap: 1rem;
  padding: 0rem;
}

.gallery-hide {
  display: none;
}

.gallery-item {
  background-color: #f5f5f5;
  box-shadow: 0 4px 10px #000000;
  color: #293241;
  padding: 0rem;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery-item:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

.gallery-item:nth-child(5) {
  grid-column: span 2;
  grid-row: span 2;
}

@media (max-width: 768px) {
  .gallery-container {
    grid-template-columns: repeat(1, 1fr 1fr);
    grid-auto-rows: minmax(125px, auto);
  }

  .gallery-item:nth-child(5) {
    grid-column: 1 / 3;
    grid-row: 4 / 6;
  }
}

/**/
/* REVIEWS */
/**/

.review {
  background-color: #293241;
  margin: 0;
  padding: 0rem 1.5rem 3rem 1.5rem;
  border-bottom: 3px solid #f5f5f5;
}

.review-container {
  min-height: 100px;
  display: grid;
  grid-auto-flow: column;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-auto-columns: minmax(100px, auto);
  grid-auto-rows: minmax(100px, auto);

  background-color: hsl(218, 23%, 29%);
  border-radius: 20px;
  border: 1px solid #f5f5f5;

  margin: 0;
  padding: 1.5rem;
  gap: 1.5rem;
}

@media (max-width: 768px) {
  .review-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-auto-columns: minmax(100px, auto);
    grid-auto-rows: minmax(100px, auto);
  }
}

.review h2 {
  color: #ee6c4d;
  font-weight: 800;
}

.review-box {
  display: inline-block;
  align-items: center;
  justify-content: center;
  text-align: left;

  background-color: #f5f5f5;
  box-shadow: 0 4px 10px #000000;
  color: #293241;
  border-radius: 20px;
  margin: 0;
  padding: 1rem 0;
}

.review-title {
  border-bottom: 1.5px solid #000000;
  margin-bottom: 1rem;
  padding: 0 1rem 0.5rem 1rem;
}

.review-user {
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-size: 1.618rem;
}

.review-user-role {
  font-size: 1rem;
  color: #555555;
  line-height: 1.5;
  margin-left: 0.1rem;
}

.review-rating {
  display: none;
  font-weight: 800;
  margin-bottom: 0.5rem;
  font-size: 1.618rem;
  color: #ffd700;
  text-shadow:
    1px 1px 2px #000000,
    0 0 1em #ffd700,
    0 0 0.2em #ffd700;
}

.review-text {
  font-size: 1.1rem;
  line-height: 1.5;
  margin-top: 0.5rem;
  padding: 0 1rem;
}

/**/
/* Pseudo */
/**/

img:not([alt]) {
  border: 10px solid #20ba5a;
}

.review-user-role::before {
  content: "Meet Our ";
}
