/**/
/* Background, Title (h1), subtitle (h2 & h3), Font color, Size & Style */
/**/

html {
  background-color: #293241;
  color: #e0fbfc;
  font-size: 20px;
  line-height: 1;
}

h1 {
  color: #ee6c4d;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 44px;
}

h2,
h3 {
  color: #f7e0d4;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 32px;
}

main {
  font-family: Arial, Helvetica, sans-serif;
}

button,
textarea,
input,
select {
  font: inherit;
}

/**/
/* Anchor Link */
/**/

a {
  color: #e0fbfc;
}
a:hover,
a:active {
  color: whitesmoke;
}

/* Table */

table,
tr,
th,
td,
caption {
  border: 1px solid whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  padding: 2rex;
  width: auto;
  height: auto;
}

/**/
/* Class */
/**/

.bold {
  font-weight: 700;
}

.border {
  border: 1px solid whitesmoke;
}

.cap {
  text-transform: uppercase;
}

.cream {
  color: #f7e0d4;
}

.title {
  color: #ee6c4d;
}
